.rodape{
   
    bottom: 0;
    left: 0;
    width: 100%;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 0.8rem;
    font-weight: 400;
}