.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 10px;
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    font-weight: 400;
}